{% extends "base.html" %}

{% block title %}{{ offer.titulo }} - Detalles{% endblock %}

{% block content %}
<h1>{{ offer.titulo }}</h1>
<p><strong>Empresa:</strong> {{ offer.empresa }}</p>
<p><strong>Ciudad:</strong> {{ offer.ciudad }}</p>
<p><strong>Nivel educativo:</strong> {{ offer.nivel_educativo }}</p>
<p><strong>Nivel de experiencia:</strong> {{ offer.nivel_experiencia }}</p>
<p><strong>Habilidades requeridas:</strong></p>
<ul>
    {% for h in offer.habilidades %}
        <li>{{ h }}</li>
    {% endfor %}
</ul>
<a href="/offers">🔙 Volver a las ofertas</a>
{% endblock %}
